*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --main-font: "ohno-blazeface";
  --secondary-font: 'Cabin';
  --tertary-font: 'BLOMBERG';


  /* font sizes */
  --main-title-1-lg: 208px;
  --main-title-1-md: 116px;
  --main-title-1-sm: 80px;
  --main-title-2-lg: 96px;
  --main-title-2-md: 64px;
  --main-title-2-sm: 48px;
  --title-1-lg: 80px;
  --title-2-lg: 64px;
  --title-3-lg: 40px;
  --comic-1-lg: 85.54px;
  --comic-2-lg: 36px;
  --comic-3-lg: 32px;
  --comic-4-lg: 28px;
  --subtitle-1-lg: 28px;
  --paragraph-1-lg: 28px;
  --button-fn: 24px;

  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #6646D2;
  --color-blue-light: #F5F2FF;
  --color-purple: #8E17EC;
  --color-purple-light: #F9F2FF;
  --color-pink: #FF00A8;
  --color-pink-light: #FDF2FF;
  --color-grey: #D9D9D9;
  --color-grey-light: #E7E7E7;
  --color-gradient-1: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 47.40%, var(--color-pink) 100%);
  --color-gradient-2: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 47.40%, var(--color-pink) 79.35%);

  /* Gaps */
  --gap-21xl: 40px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-44xl: 63px;
  --padding-lgi: 19px;
  --padding-11xs: 2px;

  /* border radiuses */
  --br-12xs: 1px;
}

body {
  font-style: normal;
  line-height: normal;
}


/* font styles */
.main-title-1 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-title-1-lg);
  font-weight: 300;
  line-height: 54%;
}

.main-title-2 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-title-2-lg);
  font-weight: 100;
}

.title-1 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--title-1-lg);
  font-weight: 100;
  line-height: 104%;
}

.title-2 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--title-2-lg);
  font-weight: 100;
}

.title-3 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--title-3-lg);
  font-weight: 100;
}

.subtitle-1 {
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--subtitle-1-lg);
  font-weight: 400;
}

.paragraph-1 {
  font-family: var(--secondary-font), sans-serif;
  font-size: var(--paragraph-1-lg);
  font-weight: 700;
}

.btn-font {
  font-family: var(--secondary-font);
  font-size: var(--button-fn);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (max-width: 1300px) {
  .main-title-1 {
    font-size: var(--main-title-1-md);
    line-height: 70%;

  }

  .main-title-2 {
    font-size: var(--main-title-2-md);
  }
}

@media screen and (max-width: 920px) {
  .main-title-1 {
    font-size: var(--main-title-1-sm);
  }

  .main-title-2 {
    font-size: var(--main-title-2-sm);
  }
}

/* buttons styles */
.btn {
  font-family: var(--secondary-font);
  font-size: var(--button-fn);
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 64px;
  color: var(--color-white);
  box-shadow: 8px 8px var(--color-white), 8px 8px 0px 1px var(--color-black);
  cursor: pointer;
}

/* .btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
} */


.btn-primary {
  background: var(--color-blue);
  border: 2px solid var(--color-black);
}

.btn-secondary {
  background: var(--color-black);
  border: 2px solid var(--color-black);
}

.btn-gradient-1 {
  background: var(--color-gradient-1);
  border: 2px solid var(--color-gradient-1);
}

.btn-gradient-1 {
  background: var(--color-gradient-2);
  border: 2px solid var(--color-gradient-2);
}

.btn-secondary:hover, .btn-secondary:active {
  background: var(--color-blue);
}

.btn-primary:hover, .btn-primary:active {
  background: var(--color-gradient-1);
}


/* helper classes */
.main-width {
  width: 1276px;
}

@media screen and (max-width: 1300px) {
  .main-width {
    width: 100%;
    padding: 0px 40px;
  }
}



.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gap-8 {
  gap: 8px;
}

.gap-24 {
  gap: 24px;
}

.p-x-10 {
  padding: 0 10px;
}


.line-through {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.white-font {
  color: var(--color-white)
}

.blue-font {
  color: var(--color-blue)
}

.purple-font {
  color: var(--color-purple)
}

.pink-font {
  color: var(--color-pink)
}


.gradient-1 {
  background: var(--color-gradient-1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-2 {
  background: var(--color-gradient-2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

span {
  margin: 0 8px;
}

.hidden {
  display: none;
}

.m-x-50 {
  margin: 0 50px;
}

.active {
  background: var(--color-gradient-1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.pg-purple {
  background-color: var(--color-purple-light);
}

.qoute-sec {
  background-color: var(--color-purple-light);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


ul {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 1em;
}