/* ****************************** */
/* hero section styles */
body {
  position: relative;
  overflow-x: hidden;
}

.black-hero {
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 56px 0 0 0;
  height: 760px;
}

.pink-hero {
  background: var(--color-pink-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  height: 300px;
}


.hero-title {
  color: var(--color-pink-light);
  margin-bottom: 64px;
}

.hero-title-gradient {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  background: var(--color-gradient-1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


.hero-image-container {
  width: 983px;
  height: 1330px;

  position: absolute;
  left: 280px;
  top: 272px;
  z-index: 2;
}

.hero-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-image-container img {
  /* position: absolute; */

  width: 80vw;
  min-width: 390px;
  min-height: 800px;

  max-width: 983px;
  max-height: 1330px;


  object-fit: cover;
  display: block;
}


@media screen and (min-width: 1440px) {
  .hero-image {
    width: 983px;
    height: 1330px;
  }
}

@media screen and (max-width: 390px) {
  .hero-image {
    width: 390px;
    height: 800px;
  }
}

/* ****************************** */
/* work section styles */

.work-sec {
  padding: 114px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 100%;
}

.project-container {
  display: flex;
  align-items: stretch;
  padding: 60px 0 0 38px;
  box-shadow: 8px 8px var(--color-black), 8px 8px 0px 1px var(--color-black);
  border: 2px solid var(--color-black);
  overflow: hidden;

}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 56px;
}

.project-category {
  border-radius: 54px;
  border: 2px solid var(--color-black);
  background: var(--color-blue-light);
  padding: 13px 32px;
  box-shadow: 4px 4px var(--color-black);
}

.project-info-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.project-main-info {
  display: flex;
  flex-direction: column;
}

/* .project-main-info h5 {
  margin-bottom: 16px;
} */

.project-image {
  max-height: 600px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.comic img {
  max-width: 100%;
}



/* ****************************** */
/* about me section styles */
.about-me-wrapper {
  background: var(--color-pink-light);
  padding: 144px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 144px;
}

.about-me-sec {
  display: flex;
  gap: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}

.about-me-title {
  max-width: 625px;
}



.about-me-image {
  position: relative;
  min-width: 529px;
  min-height: 755px;
  width: 529px;
  height: 755px;
}

.about-me-image img {
  width: 100%;
  height: 100%;
}


.about-me-image .real-image, .about-me-image:hover .hover-image {
  display: none;
}

.about-me-image:hover .real-image {
  display: block;
}




.socials {
  display: flex;
  gap: 16px;
}

.social-account {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 1px;
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  width: 64px;
  height: 64px;

}

.social-account:hover {
  background: var(--color-blue-light);
}

.social-account:hover svg path {
  fill: var(--color-black);
}

/* **************************** */
/* scroll style */
.news-ticker-sec {
  overflow: hidden;
}

.news-ticker-sec .scroll, .news-ticker-sec .reverse-scroll {
  width: 400%;
  display: flex;

}

.news-ticker-sec .scroll {
  animation: scroll 26s linear infinite;
  /* animation-direction: alternate; */
}

.news-ticker-sec .reverse-scroll {
  animation: reverse-scroll 26s linear infinite;
  /* animation-direction: alternate; */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes reverse-scroll {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* **************************** */


.dribbble-sec {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.dribbble-shots,
.dribbble-shots #shots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shot-container {
  width: 412px;
  height: 240px;
  border: 2px solid var(--color-black);
  background: var(--color-white);
  box-shadow: 3px 3px var(--color-black);
}

.shot-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dribbble-shots-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#prev {
  width: 72px;
  height: 72px;
  padding: 0;
}

#next {
  width: 72px;
  height: 72px;
  padding: 0;
}

.dribbble-shots-action a, .dribbble-shots-action button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



/********************************************************/
/* responsive */

@media screen and (max-width: 1440px) and (min-width: 390px) {

  .project-container {
    transform: scale(90vw);
  }
}

@media screen and (max-width: 390px) {

  /* ****************************** */
  /* hero section styles */
  .black-hero {
    justify-content: start;
    gap: 64px;
  }

  .pink-hero {
    align-items: flex-end;
  }

  .hero-image-container {

    width: 610.179px;
    height: 801.805px;

    left: -182px;
    top: 270px;
  }

  .hero-image-container img {
    width: 100%;
    height: 100%;
  }

  .pink-hero {
    justify-content: end;
  }

  .hero-title {
    margin: 0
  }

  ;
  /* ****************************** */
  /* work section styles */

  .work-sec {
    padding: 88px 0;
    gap: 50px;
  }

  .project-container {
    flex-direction: column;
    align-items: start;
    padding: 24px 0 0 0;
  }

  .project-info {
    padding: 0 24px;
    width: 100%;
    gap: 32px;
    margin-bottom: 40px;
  }

  .project-title {
    margin-bottom: 8px;
  }

  .project-main-info {
    gap: 8px;
  }

  .project-image {
    display: flex;
  }

  .comic {
    padding: 0;
  }


  /* ****************************** */
  /* about me section styles */
  .about-me-wrapper {
    padding: 88px 0;
    gap: 88px;
  }

  .about-me-sec {
    flex-direction: column;
    gap: 40px;
  }

  .info {
    gap: 40px;
  }


  .about-me-image {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0
  }

  .socials {
    flex-wrap: wrap;
  }


  /* **************************** */
  /* scroll style */


  .news-ticker-sec .scroll, .news-ticker-sec .reverse-scroll {
    width: 1130%;
  }

  /* **************************** */


  .dribbble-sec {
    gap: 40px;
  }


  #shots {
    gap: 32px;
  }

  .shot-container {
    min-width: 100%;
  }


  .dribbble-shots-action {
    gap: 24px;
  }

  .dribbble-shots-action * {
    min-height: 59px;
  }

  #prev * {}

  #next {}

  .dribbble-shots-action a, .dribbble-shots-action button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}